<div class="container my-4">
  <div class="row shadow p-3 rounded-3">
    <div class="header d-flex">
      <h4 class="heading text-main mb-4 p-0">Reset Password</h4>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)=" getForgetPass()" *ngIf="step1">

      <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" id="floatingEmail"
          placeholder="Enter your email">
        <label for="floatingEmail">Email</label>
        <div class="alert alert-danger my-1"
          *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched">
          <p *ngIf="forgotPasswordForm.get('email')?.getError('required')"> email is
            required</p>
          <p *ngIf="forgotPasswordForm.get('email')?.getError('email')">email is invail</p>
        </div>
        <p *ngIf="Msg" class="my-3 alert alert-info fw-bolder">{{Msg}}</p>
      </div>
      <!-- <div class="form-floating mb-3">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
          placeholder="Enter password">
        <label for="floatingPassword">Password</label>
        <div class="alert alert-danger my-1"
          *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
          <p *ngIf="registerForm.get('password')?.getError('required')"> password is
            required</p>
          <p *ngIf="registerForm.get('password')?.getError('pattern')">password is not valid</p>
        </div>
      </div> -->
      <button [disabled]="forgotPasswordForm.invalid" type="submit" class="btn main-btn text-main-light">
        submit
      </button>
    </form>

    <form [formGroup]="verifyCodeForm" (ngSubmit)="getVerifiedCode()" *ngIf="step2">
      <div class="form-floating mb-3">
        <input formControlName="resetCode" type="resetCode" class="form-control" id="floatingResetCode"
          placeholder="Enter your resetCode">
        <label for="floatingResetCode">Enter your resetCode</label>
        <div class="alert alert-danger my-1"
          *ngIf="verifyCodeForm.get('resetCode')?.errors && verifyCodeForm.get('resetCode')?.touched">
          <p *ngIf="verifyCodeForm.get('resetCode')?.getError('required')"> resetCode is
            required</p>
        </div>
        <p *ngIf="Msg" class="my-3 alert alert-info fw-bolder">{{Msg}}</p>
      </div>
      <!-- <div class="form-floating mb-3">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
          placeholder="Enter password">
        <label for="floatingPassword">Password</label>
        <div class="alert alert-danger my-1"
          *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
          <p *ngIf="registerForm.get('password')?.getError('required')"> password is
            required</p>
          <p *ngIf="registerForm.get('password')?.getError('pattern')">password is not valid</p>
        </div>
      </div> -->
      <button [disabled]="verifyCodeForm.invalid" type="submit" class="btn main-btn text-main-light">
        submit
      </button>
    </form>

    <form [formGroup]="resetPassword" (ngSubmit)="getVerifiedCode()" *ngIf="step3">
      <div class="form-floating mb-3">
        <input formControlName="newPassword" type="newPassword" class="form-control" id="floatingResetCode"
          placeholder="Enter your newPassword">
        <label for="floatingResetCode">Enter your newPassword</label>
        <div class="alert alert-danger my-1"
          *ngIf="resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched">
          <p *ngIf="resetPassword.get('newPassword')?.getError('required')"> newPassword is
            required</p>
          <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')">newPassword is not valid</p>
        </div>
        <p *ngIf="Msg" class="my-3 alert alert-info fw-bolder">{{Msg}}</p>
      </div>
      <button [disabled]="resetPassword.invalid" type="submit" class="btn main-btn text-main-light">
        submit
      </button>
    </form>
  </div>

</div>
